header{
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
    background-color:rgb(12, 12, 12);
    box-shadow: 0px 0px 5px 5px black;
    
}
.logo{
    color: red;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    font-family:"Pacifico";
    padding: 0px;
    margin: 0px;
    font-size: 100px;
    letter-spacing: 3px;
}
a{
    text-decoration: none;
    color: white
}
link{
    list-style: none;
    
}
.link li{
    display:inline-block;
    padding: 8px 55px ;
    font-size: 30px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: initial;
}
.link li a.active{
    color: red;
    
}
.link li a:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
}
.banner{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTYZV2_2_DUhOyYo5BkyhTZu8DfIR1HONOqA&s");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 8px 8px rgb(255, 255, 255)

    
}
div h1{
    color: rgb(5, 5, 5);
    position: absolute;
    top: 310px;
    left:860px;
    font-size: xx-large;
}
div h3{
    color: black;
    position: absolute;
    top: 370px;
    left: 980px;
}
.photo{
    height: 290px;
    width: 290px;
    background-image:url("images/kumar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:500px ;
    box-shadow: 0 0 10px 10px black;
    position: relative;
    left: 900px;
    top:20px;

     
}

button{
    height: 50px;
    width: 100px;
   border-radius: 50px;
    position: relative;
    left: 1000px;
    top:130px;
}
button:hover{
    background-color: black;
    color:red;
}
height: 300px;
    width: 300px;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 800px;
    position: relative;
    left: 900px;
    top:20px;
    box-shadow: 0 0 8px 8px rgb(255, 0, 0);


